{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="NewsGrid__wrapper">
  <div class="NewsGrid__item NewsGrid__item--featured flush" data-animate data-animation="fade-in-up"></div>
{% for row in rows %}
  {% if loop.index in [1,2,3] %}
    <div class="NewsGrid__item NewsGrid__item--alt flush" data-animate 
        {% if loop.index == 1 %}
          data-animation="fade-in-right"
        {% elseif loop.index == 2 %}
          data-animation="fade-in-down"
        {% elseif loop.index == 3 %}
          data-animation="fade-in-left"
        {% endif %}
      >
        {% if row.content['#row']._entity.field_media_image is not empty %}
          {% set media_entity = row.content['#row']._entity.field_media_image.entity %}
          {% if media_entity.field_media_image is not empty %}
            {% set image_file = media_entity.field_media_image.entity %}
            {% set image_url = file_url(image_file.uri.value)%}
            <div class="NewsGrid__image">
              <img src="{{ image_url }}" width="600" height="400" alt="{{ media_entity.field_media_image.alt }}">
            </div>
          {% endif %}
        {% endif %}
      <div class="NewsGrid__text">
        <div class="NewsGrid__content">
          {% if row.content['#row']._entity.created[0].value|render %}
            <div class="meta">
              <div class="meta-date">
                {{ row.content['#row']._entity.created[0].value|date('F d, Y') }}
                {% set term_reference = row.content['#row']._entity.field_event_type %}
                {% if term_reference is not empty %}
                  &nbsp; · &nbsp;
                  {% for term in term_reference %}
                    {% set term_entity = term.entity %}
                    {% set term_url = path('entity.taxonomy_term.canonical', {'taxonomy_term': term_entity.id}) %}
                    <a href="{{ term_url }}">{{ term_entity.name.value }}</a>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% if row.content['#row']._entity.title[0].value|render %}
            <h3 class="NewsGrid__title h4"><a href="{{path('entity.node.canonical', {'node': row.content['#row'].nid }) }}">{{ row.content['#row']._entity.title[0].value }}</a></h3>
          {% endif %}
        </div>
      </div>
    </div>
  {% else %}
    <div {{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endif %}
{% endfor %}
</div>
