{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<script>
  const facultyData = {
    "faculty": [
      {% for row in rows %}
        {% if row.content['#row']._entity.field_media_image is not empty %}
          {% set media_entity = row.content['#row']._entity.field_media_image.entity %}
          {% if media_entity.field_media_image is not empty %}
            {% set image_file = media_entity.field_media_image.entity %}
            {% set image_url = file_url(image_file.uri.value) %}
          {% endif %}
        {% else %}
          {% set image_url = 'themes/custom/novaspire/dist/assets/blue-bg.jpg' %}
        {% endif %}

        {% set term_reference = row.content['#row']._entity.field_faculty_department %}
        {% set term_name = [] %}
        {% set term_url = '' %}
        {% set term_name_keyword = [] %}
        {% if term_reference is not empty %}
          {% for term in term_reference %}
            {% set term_entity = term.entity %}
            {% set term_url = path('entity.taxonomy_term.canonical', {'taxonomy_term': term_entity.id}) %}
            {% set term_name = term_name|merge(['"' ~ term.entity.name.value ~ '"']) %}
            {% set term_name_keyword = term_name_keyword|merge(['"' ~ term.entity.name.value ~ '"']) %}
          {% endfor %}
        {% endif %}

        {
          "name":         "{{ row.content['#row']._entity.field_first_name[0].value|raw }} {{ row.content['#row']._entity.field_last_name[0].value|raw }}",
          "firstName":    "{{ row.content['#row']._entity.field_first_name[0].value|raw }}",
          "lastName":     "{{ row.content['#row']._entity.field_last_name[0].value|raw }}",
          "level":        ["{{ row.content['#row']._entity.field_designation[0].value|striptags|trim|raw }}"],
          "area":         [{{ term_name|join(', ')|raw }}],
          "description":  ["{{ row.content['#row']._entity.field_short_bio[0].value|striptags|trim|raw }}"],
          "url":          ["{{path('entity.node.canonical', {'node': row.content['#row'].nid }) }}"],
          "emailUrl":     ["mailto:{{ row.content['#row']._entity.field_email[0].value|striptags|trim|raw }}"],
          "urlOptional":  ["{{row.content['#row']._entity.field_optional_link[0].uri}}"],
          "labelOptional":["{{row.content['#row']._entity.field_optional_link[0].title}}"],
          "urlPhone":     ["tel:{{ row.content['#row']._entity.field_phone[0].value|striptags|trim|replace({'-': ''})|replace({'(': ''})|replace({')': ''})|replace({' ': ''})|trim|raw }}"],
          "email":        ["{{ row.content['#row']._entity.field_email[0].value|striptags|trim|raw }}"],
          "phone":        ["{{ row.content['#row']._entity.field_phone[0].value|raw }}"],
          "imgURL":       ["{{image_url}}"],
          "keyword":      [{{ term_name_keyword|join(', ')|raw }}]
        },
      {% endfor %}
    ]
  }

  const finders = document.querySelectorAll(".FacultyList");

const container = document.querySelector('.Faculty__program-list');
let filteredfaculty = facultyData.faculty; // Maintain the state of filtered faculty

if (container !== null) {
  function renderfaculty(filteredfaculty) {
    container.innerHTML = ''; // Clear previous content
    filteredfaculty.forEach((program, index) => {
      const programLevels = program.level.join(', ');

      const programDiv = document.createElement('div');
      programDiv.classList.add('Program__card', 'flush');
      programDiv.setAttribute('data-finder-item', '');
      programDiv.setAttribute('data-finder-search', program.keyword);
      programDiv.setAttribute('data-finder-area', program.area);
      programDiv.setAttribute('data-finder-level', program.level);
      programDiv.setAttribute('data-finder-name', program.name);
      
      const programMain = document.createElement('div');
      programMain.classList.add('Program__main', 'flush');

      const programMain1 = document.createElement('div');
      programMain1.classList.add('flush');
      programMain.appendChild(programMain1);
      const programMain2 = document.createElement('div');
      programMain2.classList.add('meta');


      
      
      const programContent = document.createElement('div');
      programContent.classList.add('Program__content');

      const programToggle = document.createElement('button');
      programToggle.classList.add('Program__toggle');
      programToggle.ariaExpanded = "false";
      programToggle.ariaLabel = "Toggle program content";

      const description = document.createElement('p');
      description.textContent = program.description;

      const buttonLink = document.createElement('a');
      buttonLink.setAttribute('href', program.url);
      buttonLink.classList.add('Button');
      const buttonLinkSpan = document.createElement('span');
      buttonLinkSpan.textContent = "Email";
      buttonLink.appendChild(buttonLinkSpan);

      let buttonPhoneUrl;
      if (program.urlPhone.length !== 0) {
        buttonPhoneUrl = document.createElement('a');
        buttonPhoneUrl.setAttribute('href', program.urlPhone);
        buttonPhoneUrl.classList.add('Button');
        const buttonLinkSpanPhone = document.createElement('span');
        buttonLinkSpanPhone.textContent = "Phone";
        buttonPhoneUrl.appendChild(buttonLinkSpanPhone);
      }

      let buttonLinkOptional;
      if (program.urlOptional.length !== 0) {
        buttonLinkOptional = document.createElement('a');
        buttonLinkOptional.setAttribute('href', program.urlOptional);
        buttonLinkOptional.classList.add('Button');
        const buttonLinkSpanOptional = document.createElement('span');
        buttonLinkSpanOptional.textContent = "Optional Department Link";
        buttonLinkOptional.appendChild(buttonLinkSpanOptional);
      }

      const h2 = document.createElement('h2');
      const link = document.createElement('a');
      link.setAttribute('href', program.url);
      link.classList.add('link__underline', 'h4');
      link.textContent = program.name;
      h2.appendChild(link);

      const level = document.createElement('p');
      level.classList.add('h4');
      level.innerHTML = programLevels;

      if (program.imgURL.length !== 0) {
        const headshot = document.createElement('div');
        headshot.classList.add('Program__photo');
        program.imgURL.forEach(imgURLItem => {
            const listItem = document.createElement('img');
            listItem.src = imgURLItem; 
            listItem.alt = "Faculty headshot";
            listItem.setAttribute('data-ratio', '1:1'); 
            headshot.appendChild(listItem);
        });
        programMain.appendChild(headshot);
      }



      if (program.area.length !== 0) {
        const areas = document.createElement('ul');
        areas.classList.add('Program__areas');
        program.area.forEach(areaItem => {
          const listItem = document.createElement('li');
          listItem.textContent = areaItem;
          listItem.classList.add('h5');

          areas.appendChild(listItem);
        });
        programMain2.appendChild(areas);
      }


      programMain1.appendChild(h2);
      programMain1.appendChild(level);
      programMain1.appendChild(programMain2);
      container.appendChild(programDiv);
      programDiv.appendChild(programMain);
      programDiv.appendChild(programToggle);
      programDiv.appendChild(programContent);

      programContent.appendChild(description);
      programContent.appendChild(buttonLink);
      if (program.urlPhone.length !== 0) {
        programContent.appendChild(buttonPhoneUrl);
      }
      if (program.urlOptional.length !== 0) {
        programContent.appendChild(buttonLinkOptional);
      }
    });

    updateProgramCount(filteredfaculty.length, facultyData.faculty.length);
    toggle(); // Ensure toggle function is called after rendering
  }
  function filterfacultyByLetter(letter) {
    filteredfaculty = facultyData.faculty.filter(program => program.name.startsWith(letter));
    renderfaculty(filteredfaculty);
    document.querySelector('[data-finder-reset]').style.display = 'block';

    // Manage active class for alphabet navigation
    document.querySelectorAll('.alphabet-letter').forEach(letterElement => {
      if (letterElement.textContent === letter) {
        letterElement.classList.add('active');
      } else {
        letterElement.classList.remove('active');
      }
    });

    // Add data-finder-done attribute to the finder class
    document.querySelectorAll('.finder').forEach(finder => {
      finder.setAttribute('data-finder-done', '');
    });
  }

  function filterSearch() {
    const getParams = () => {
      const params = new URLSearchParams(window.location.search);

      const levelValue = (finders[0] && finders[0].getAttribute("data-finder-level-single") !== null)
        ? [finders[0].getAttribute("data-finder-level-single")]
        : params.getAll("level");

      return {
        search: params.getAll("search"),
        searchLast: params.getAll("search-last"), // New parameter for last name search
        searchTitle: params.getAll("search-title"), // New parameter for title search
        level: levelValue,
        letter: params.getAll("letter"),
        area: params.getAll("area"),
      };
    };

    const matches = (filter, data, item) => {
    const values = item.getAttribute(`data-finder-${filter}`)?.split(",") || [];
    const selectedValues = data[filter];

    if (filter === "search") {
      const searchTerms = selectedValues;
      if (searchTerms.length) {
        const keywordMatch = values.some((value) =>
          searchTerms.some((term) => value.toLowerCase().includes(term.toLowerCase()))
        );
        if (!keywordMatch && !searchTerms.some((term) => item.getAttribute("data-finder-name").toLowerCase().includes(term.toLowerCase()))) {
          return false;
        }
      }
    } else if (filter === "searchTitle") {
      const searchTerms = selectedValues;
      if (searchTerms.length) {
        const keywordMatch = values.some((value) =>
          searchTerms.some((term) => value.toLowerCase().includes(term.toLowerCase()))
        );
        if (!keywordMatch && !searchTerms.some((term) => item.getAttribute("data-finder-level").toLowerCase().includes(term.toLowerCase()))) {
          return false;
        }
      }
    } else if (filter === "letter") {
      const searchTerms = selectedValues;
      if (searchTerms.length) {
        const keywordMatch = values.some((value) =>
          searchTerms.some((term) => value.toLowerCase().startsWith(term.toLowerCase()))
        );
        if (!keywordMatch && !searchTerms.some((term) => item.textContent?.toLowerCase().startsWith(term.toLowerCase()))) {
          return false;
        }
      }
    } else {
      if (selectedValues.length && !values.some((value) => selectedValues.includes(value))) {
        return false;
      }
    }

    return true;
  };

    for (const finder of finders) {
      const initial = parseInt(finder.getAttribute("data-finder-initial"), 10);
      let max = initial;

      // handle form
      const form = finder.querySelector("[data-finder-form]");

      form?.addEventListener("submit", e => {
        e.preventDefault();
      });

      // update buttons
      const current = form?.querySelector("[data-finder-current]");

      const updateButtons = data => {
        let html = "";
        for (const [filter, values] of Object.entries(data)) {
          for (const value of values) {
            if (value) {
              html += `<button class="Finder__remove" data-finder-remove="${filter}">${value}</button>`;
            }
          }
        }
        if (current) {
          current.innerHTML = html;
        }
      };

      function moduleFinderButtons() {
        const finderCurrent = document.querySelector('.Finder__current');
        const finderReset = document.querySelector('.Finder__reset');

        if (finderCurrent && finderReset && finderCurrent.querySelectorAll('button').length === 1) {
          finderReset.style.display = 'none';
        } else {
          finderReset.style.display = '';
        }
      }

      // handle buttons

      current?.addEventListener("click", e => {
        const { target } = e;
        if (target instanceof HTMLButtonElement) {
            const filter = target.getAttribute("data-finder-remove");
            const value = target.innerHTML;

            if (["area", "level", "letter"].includes(filter)) {
              const input = form?.querySelector(`[data-finder-filter="${filter}"][value="${value}"]`);
              if (input) {
                  input.checked = false;
              }
            } else if (filter === "searchTitle") {
              const input = form?.querySelector(`[data-finder-filter="search-title"]`);
              if (input) {
                  input.value = "";
              }
            } else {
              const input = form?.querySelector(`[data-finder-filter="${filter}"]`);
              if (input) {  
                  input.value = "";
              }
            }

            target.remove();
            updateQuery();
        }
      });

      // update items
      const items = finder.querySelectorAll("[data-finder-item]");
      const counts = finder.querySelectorAll("[data-finder-count]");

      const update = () => {
        const data = getParams();
        for (const item of items) {
          let showItem = true;
          for (const filter in data) {
            if (!matches(filter, data, item)) {
              showItem = false;
              break;
            }
          }
          if (showItem) {
            item.setAttribute("data-finder-item", "show");
          } else {
            item.setAttribute("data-finder-item", "hide");
          }
        }
        updateButtons(data);
        updateLimit();
        window.dispatchEvent(new Event("resize"));
      };

      // update query string
      const updateQuery = () => {
        const data = new FormData(form);
        const query = new URLSearchParams(data).toString();
        window.history.replaceState(null, "", `?${query}`);
        max = initial;
        update();
      };

      const focusNextCard = () => {
        const limit = finder.querySelector("[data-finder-limit]");

        // Get the next sibling element of the current limit, which will be the next card
        if (limit) {
          const nextCard = limit.nextElementSibling;

          // If there's a next card, focus it. Otherwise, do nothing.
          if (nextCard) {
            const anchorInNextCard = nextCard.querySelector('h2 a');
            if (anchorInNextCard) {
              setTimeout(function () {
                anchorInNextCard.focus();
              }, 400);
            }
          }
        }
      };

      // update limit
      const updateLimit = () => {
        const limit = finder.querySelector("[data-finder-limit]");
        const show = finder.querySelectorAll('[data-finder-item="show"]');
        let target = show[max - 1];
        if (!target || target === show[show.length - 1]) {
          target = show[show.length - 1];
          finder.setAttribute("data-finder-done", "");
        } else {
          finder.removeAttribute("data-finder-done");
        }
        limit?.removeAttribute("data-finder-limit");
        target?.setAttribute("data-finder-limit", "");
        for (const [i, count] of counts.entries()) {
          const visible = [...show].indexOf(target) + 1;
          const total = show.length;
          if (total === 0) {
            if (i === 0) {
              count.innerHTML = "No results";
            } else {
              count.innerHTML = "";
            }
          } else {
            count.innerHTML = `Showing ${visible} of ${total} results`;
          }
        }
      };

      // handle filters
      const filters = form?.querySelectorAll("[data-finder-filter]") || [];

      for (const filter of filters) {
        filter.addEventListener("input", updateQuery);
      }

      // handle reset
      const reset = form?.querySelector("[data-finder-reset]");

      reset?.addEventListener("click", () => {
        window.location.href = window.location.pathname; // Refresh the entire page and clear URL parameters
      });

      // handle load more
      const moreAll = finder.querySelectorAll("[data-finder-more]");

      for (const more of moreAll) {
        const add = parseInt(more?.getAttribute("data-finder-more"), 10);
        more?.addEventListener("click", () => {
          max += add;
          focusNextCard();
          update();
        });
      }

      // handle load all
      const all = finder.querySelector("[data-finder-all]");

      all?.addEventListener("click", () => {
        const show = finder.querySelectorAll('[data-finder-item="show"]');
        max = show.length;
        focusNextCard();
        update();
      });

      // set state on load
      window.addEventListener("load", () => {
        const data = getParams();
        let actualFilters;

        for (const [filter, values] of Object.entries(data)) {
          if (values[0]) {
            if (finders[0].getAttribute("data-finder-level-single") !== null) {
              actualFilters = ["area", "letter"];
            } else {
              actualFilters = ["area", "level", "letter"];
            }

            if (actualFilters.includes(filter)) {
              for (const value of values) {
                const input = form?.querySelector(
                  `[data-finder-filter="${filter}"][value="${value}"]`
                );
                if (input) {  // Add a safety check in case the input isn't found
                  input.checked = true;
                }
              }
            } else {
              const input = form?.querySelector(`[data-finder-filter="${filter}"]`);
              if (input) {  // Add a safety check here too
                input.value = values[0];
              }
            }
          }
        }
        update();
      });
      update();
    }
  }

  function toggle() {
    const programTitles = document.querySelectorAll('.Program__toggle');

    programTitles.forEach(function (title) {
      title.addEventListener('click', function () {
        const isExpanded = title.getAttribute('aria-expanded') === 'true';
        title.setAttribute('aria-expanded', isExpanded ? 'false' : 'true');
      });
    });
  }

  // Function to update program count
  function updateProgramCount(visibleCount, totalCount) {
    const countElements = document.querySelectorAll('[data-finder-count]');
    countElements.forEach(countElement => {
      countElement.innerHTML = `Showing ${visibleCount} of ${totalCount} results`;
    });
  }

  // Initialize the alphabet navigation
  document.querySelectorAll('.alphabet-letter').forEach(letterElement => {
    letterElement.addEventListener('click', (e) => {
      e.preventDefault(); // Prevent default link behavior
      const letter = letterElement.textContent;
      filterfacultyByLetter(letter);
    });
  });

  // Initial render of all faculty
  renderfaculty(facultyData.faculty);
  filterSearch();
}

</script>