{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{% set rendered_content = content|without(
  'field_right_sidebar',
  'field_description',
  'field_content',
  'field_short_description',
  'field_date',
  'field_start_time',
  'field_end_time',
  'field_location',
  'field_ticket_info',
  'field_cta',
  'field_media',
  'field_caption',
  'field_event_description_title',
  'field_event_type',
  'field_end_date',
  'field_date_range',
  'field_program_college',
  'field_program_major',
  'field_program',
  'field_faculty'
  ) %}

<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
<article{{ attributes.addClass(classes) }} >

  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('node__submitted') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }} id="content">
    <div class="space-xs flush">
      {{ drupal_entity('block', 'novaspire_breadcrumbs') }}
    </div>
    <div id="main" class="main">
      <div class="content-with-sidebar">
        <div class="main__sidebar scrolled">
          {{ drupal_region('tertiary_menu') }}
          <div class="sidebar-widgets">
            <div class="Widget Widget--cta flush">
              {{ content.field_right_sidebar|render }}
            </div>
          </div>
          <span class="overlay"></span>
        </div>
        <div class="main__content">
          <div class="block-sm" data-animate data-animation="fade-in-down">
            <div class="meta flush">
              {% if content.field_event_type|render %}
                <div class="meta-date flush">
                  {{ content.field_event_type|render }}
                </div>
              {% endif %}
            </div>
            {{ title_prefix }}
            <h1 class="news__post-title" style="margin-top: 0;">{{ label|render|striptags|trim|raw }}</h1>
            {{ title_suffix }}
          </div>
          <div class="grid grid--two-column">
            <div class="flush">
              <p class="news__sub-heading small">
                {{ content.field_short_description|render }}
              </p>
              <div class="Events__card" data-animate="true" data-animation="fade-in-up">
                <div class="Events__card-details flush" style="padding:2rem 0 2.5rem 0;">
                  <div class="Events__info">

                    {% set date_str = content.field_date_range|render|striptags|trim|t %}
                    {% if content.field_date_range|render %}
                      {% if '_' in date_str|render %}
                        {% set date_range = content.field_date_range|render|striptags|trim|t|split('_') %}
                      {% else %}
                        {% set date_range = date_str ~ " _ " ~ date_str %}
                        {% set date_range = date_range|t|split('_') %}
                      {% endif %}
                    {% else %}
                      {% set date_not_set = 'true' %}
                    {% endif %}

                    {% if date_not_set != 'true' %}
                      {% if date_range[0]|t|date('M d, Y')|render %}
                        <div class="Events__date">
                          {{ date_range[0]|t|date('M d, Y') }}
                          {% if date_range[1]|t|date('M d, Y')|render %}
                            {% if date_range[0]|t|date('M d, Y')|trim != date_range[1]|t|date('M d, Y')|trim %}
                              {{ '-'|t }}
                              {{ date_range[1]|t|date('M d, Y') }}
                            {% endif %}
                          {% endif %}
                        </div>
                      {% endif %}
                      {% if date_range[0]|t|date('g:i A')|render %}
                        <div class="Events__time">
                          {% if date_range[0]|t|date('g:i A') == '12:00 AM' and date_range[1]|t|date('g:i A') == '11:59 PM' %}
                            {{ "All day"|t}}
                          {% else %}
                            {{ date_range[0]|t|date('g:i A') }}
                            {{ '-'|t }}
                            {{ date_range[1]|t|date('g:i A') }}
                          {% endif %}
                        </div>
                      {% endif %}
                    {% endif %}
                    {% if content.field_location|render %}
                      <div class="Events__location">
                        {{ content.field_location|render|striptags|trim|raw|replace({'&amp;': '&', '&lt;': '<', '&gt;': '>', '&quot;': '"', '&#39;': "'"})|raw }}
                      </div>
                    {% endif %}
                    {% if content.field_cta|render %}
                      <div class="Events__ticket">
                        <a href="{{ content.field_cta[0]['#url'] }}">{{ content.field_cta[0]['#title'] }}</a>
                      </div>
                    {% endif %}
                    {% if date_not_set != 'true' %}
                      <div class="Events__plus">
                        <add-to-calendar-button
                          id="css-part-example-{{ node.id }}"
                          name="{{ label|render|striptags|trim|raw }}"
                          options="'Apple','Google','iCal','Outlook.com','Yahoo'"
                          location="World Wide Web"
                          timeZone="America/New_York"
                          startDate="{{ date_range[0]|t|date("Y-m-d") }}"
                          endDate="{{ date_range[1]|t|date("Y-m-d") }}"
                          startTime="{{ date_range[0]|t|date('H:i') }}"
                          endTime="{{ date_range[1]|t|date('H:i') }}"
                          hideIconButton="true"
                          hideCheckmark="true"
                          hideBackground="true"
                          size="4"
                          trigger="click"
                          buttonStyle="text"
                          listStyle="overlay"
                        ></add-to-calendar-button>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="flush">
              <figure class="Media">
                {% if content.field_media|render %}
                  <div class="Media__image" data-animation="fade-in-left">
                    {{ content.field_media|render }}
                  </div>
                {% endif %}
                {% if content.field_caption|render %}
                  <figcaption class="image__caption flush">
                    {{ content.field_caption|render }}
                  </figcaption>
                {% endif %}
              </figure>
            </div> 
          </div>
          <div class="block-sm flush">
            {% if content.field_event_description_title|render %}
              <h2 class="h3">{{ content.field_event_description_title|render|striptags|trim|raw }}</h2>
            {% endif %}
            {{ content.field_description|render }}
          </div>
        </div>
      </div>
    </div>
    <div class="tertiary full-width">
      {{ content.field_content|render }}
      {{ rendered_content }}
    </div>
  </div>
</article>
