{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<main{{ attributes.addClass(classes) }}>
  {% if content.field_media[0]|length == 0 %}
    {{ content.field_n_before_content|render }}
  {% endif %}
    {% if content.field_media|render %}
      <section class="Hero Hero--news Hero--hidden theme-dark">
        <div class="Hero__wrapper">
          <div class="Hero__background">
            {{ content.field_media }}
          </div>
          <div class="Hero__main-content Common flush invis" data-animate data-animation="fade-in-up">
            <h1>{{ label|render|striptags|trim|raw }}</h1>
          </div>
        </div>
      </section>
      {{ drupal_block('system_breadcrumb_block') }}
      {{ content.field_n_before_content|render }}
      {# {% set hide_header = 'hide-header' %} #}
    {% endif %}
  <section class="ContentSidebar">
    <div class="ContentSidebar__header flush">
    </div>
    <div class="ContentSidebar__subnav flush">
      {{ drupal_region('tertiary_menu') }}
    </div>
    <div class="ContentSidebar__content ContentSidebar__header flush">
      <div class="Common flush">
        <div class="article-header">
          {% if content.field_date|render  %}
            <em class="date">{{ content.field_date|render }}</em>
          {% endif %}
          {{ title_prefix }}
          {% if label %}
            <h1>{{ label|render|striptags|trim|raw }}</h1>
          {% endif %}
          {{ title_suffix }}
          {% if content.field_media[0]|length == 0 %}
            {{ drupal_block('system_breadcrumb_block') }}
          {% endif %}
          {% if content.field_sub_title|render  %}
            <h2 class="h3">
              {{ content.field_sub_title|render }}
            </h2>
          {% endif %}
          {{ content.field_byline_author|render }}
          {% if content.field_media_inquiries|render  %}
            <div class="contact rule-bottom">
              <div class="Accordion Accordion--minimal flush">
                <div class="Accordion__item">
                  <p class="Accordion__heading">
                    <button class="Accordion__toggle" aria-expanded="false">
                      <span class="link">{{ 'Media Inquiries'|t }}</span>
                    </button>
                  </p>
                  <div class="Accordion__collapse">
                    <div class="Accordion__content">
                      {{ content.field_media_inquiries|render }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        {{ content.field_n_content|render }}
      </div>
      {{ content|without(
        'field_n_content',
        'field_right_sidebar',
        'field_full_width_content',
        'field_news_taxonomy',
        'field_media',
        'field_sub_title',
        'field_name',
        'field_phone',
        'field_m_email',
        'field_email',
        'field_date',
        'field_designation',
        'field_byline',
        'field_n_before_content',
        'field_byline_author',
        'field_media_inquiries'
      ) }}
    </div>
    <div class="ContentSidebar__sidebar flush">
      {{ content.field_right_sidebar|render }}
    </div>
  </section>
  {{ content.field_full_width_content|render }}
</main>
